/* #big-black-box {
    background-color: black; 
    font-size: 2vh;
    color: cornsilk;
    height: 100vh;
    text-align: center;
  } 
    .cat-poster{
    width: 10rem;
  }

  
  */

  #container-box{
    background-color: white;
    font-size: 2vh;
    color: black;
    text-align: center;
  }
  
.form-input, .hero-form-input{
  text-align: center;
}


body{
  margin: 0%;
}

button{
  font-size: 1vh;
}
