html,
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: center;
    background: linear-gradient(rgb(248, 248, 248), rgb(255, 255, 255), rgb(248, 248, 248));
}

h1{
    font-size: 3rem;
}

.form-inputs{
    font-size: 2rem;
}

.btncombination{
    
}

#displaycard{
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
    border: solid 3px rgb(70, 70, 70);
    border-radius: 2px;
    width: 90rem;
    max-width: fit-content;
    margin: .5rem;
    padding: .75rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#cdelete{
    font-size: 2.5rem;
}

#display{
      display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.displayimage{
    height: 17.5rem;
    align-items: center;

}

#button{
    margin: 1rem;
    font-size: 2.5rem;
}