/* #big-black-box {
    background-color: black; 
    font-size: 2vh;
    color: cornsilk;
    height: 100vh;
    text-align: center;
  } */

  #container-box{
    background-color: white;
    font-size: 2vh;
    color: black;
    text-align: center;
  }
  
  .cat-poster{
    width: 10rem;
  }

body{
  margin: 0%;
}